In [1]:
import pandas as pd
from string import ascii_uppercase as alphabet 
import pickle

In [2]:
all_tables = pd.read_html("https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup")

In [3]:
all_tables[12]

   Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1    Qatar (H)    0  0  0  0   0   0   0    0  Advance to knockout stage
1    2      Ecuador    0  0  0  0   0   0   0    0  Advance to knockout stage
2    3      Senegal    0  0  0  0   0   0   0    0                        NaN
3    4  Netherlands    0  0  0  0   0   0   0    0                        NaN

In [6]:
table_dict = {}
for letter, i in zip(alphabet, range(12, 62, 7)):
    df = all_tables[i]
    df.rename(columns={df.columns[1]: "Team"}, inplace=True)
    df.pop("Qualification")
    table_dict[f'Group {letter}'] = df

In [7]:
all_tables[61].columns[-1]

'Pts'

In [10]:
table_dict['Group A']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1    Qatar (H)    0  0  0  0   0   0   0    0
1    2      Ecuador    0  0  0  0   0   0   0    0
2    3      Senegal    0  0  0  0   0   0   0    0
3    4  Netherlands    0  0  0  0   0   0   0    0

In [13]:
with open('table_dict', 'wb') as output:
    pickle.dump(table_dict, output)